.container {
	background: #fff;
	width: 827px;
	height: 500px;
	position: relative;
}
.container{
	vertical-align: top;
}

.container .content {
	display: inline-block;
	width:600px;
}

.container .sidebar {
	position: relative;
	display: inline-block;
	width: 225px;
	height: 488px;
	border: 1px solid #000;
	float: right;
}