.container {
	background: #f0f0f0;
	width: 800px;
	height: 600px;
	padding: 0;
	margin: 0;
	position: relative;
}

.content {
	width: 800px;
	height: 600px;
}

.header {
	height: 100px;
	position: relative;
}

.plank ul{
	padding: 0;
	margin: 0;
}

.plank .production {
	margin: 0;
	padding: 0;
}

.plank .production li {
	display: inline-block;
	list-style: none;
}