.container {
	background: #f0f0f0;
	width: 827px;
	height: 600px;
	padding: 0;
	margin: 0;
	position: relative;
}

.content {
	width: 827px;
	height: 600px;
}

.header {
	height: 100px;
	position: relative;
}

.plank ul {
	padding: 0;
	margin: 0;
}

.plank .production {
	margin: 0;
	padding: 0;
}

.plank .production li {
	display: inline-block;
	list-style: none;
}

.user {
	top:25px;
	right:25px;
	position: absolute;
	width: 50px;
	height: 50px;
	display: none;
}